
	@font-face{font-family:"InstructureIcons-Line"; src:url("https://designtools.ciditools.com/css/canvas-icons/InstructureIcons-Line.woff") format("woff"); font-weight:normal; font-style:normal }
	i[class*=icon-].icon-Line:before,i[class^=icon-].icon-Line:before,a[class*=icon-].icon-Line:before,a[class^=icon-].icon-Line:before{font-family:"InstructureIcons-Line"}
	@font-face{font-family:"InstructureIcons-Solid"; src:url("https://designtools.ciditools.com/css/canvas-icons/InstructureIcons-Solid.woff") format("woff"); font-weight:normal; font-style:normal }
	i[class*=icon-].icon-Solid:before,i[class^=icon-].icon-Solid:before,a[class*=icon-].icon-Solid:before,a[class^=icon-].icon-Solid:before{font-family:"InstructureIcons-Solid"}
	i[class*=icon-]:before,i[class^=icon-]:before,a[class*=icon-]:before,a[class^=icon-]:before{font-family:"InstructureIcons-Line";
		display:inline-block;
		vertical-align:top;
		line-height:1;
		text-rendering:optimizeLegibility;
		font-size:16px;
		font-size:1rem;
		text-transform:none !important;font-weight:normal !important;font-style:normal !important 
	}
	i[class*=icon-],i[class^=icon-]{display:inline-block;font-style:normal !important;line-height:1 }
	.btn-large i[class*=icon-],.Button--large i[class*=icon-],.btn-large i[class^=icon-],.Button--large i[class^=icon-]{line-height:1 }
	.btn-large i[class*=icon-]:before,.Button--large i[class*=icon-]:before,.btn-large i[class^=icon-]:before,.Button--large i[class^=icon-]:before{font-size:1.125rem }
	.btn-mini i[class*=icon-],i[class*=icon-] .Button--mini,.btn-mini i[class^=icon-],i[class^=icon-] .Button--mini{line-height:1 }
	.btn-mini i[class*=icon-]:before,i[class*=icon-] .Button--mini:before,.btn-mini i[class^=icon-]:before,i[class^=icon-] .Button--mini:before{font-size:0.75rem }
	a[class*=icon-]:before,a[class^=icon-]:before{margin-right:4px;vertical-align:text-bottom }
	.standalone-icon:before{color:#555 }
	h1 i[class*=icon-]:before,h1 i[class^=icon-]:before,h2 i[class*=icon-]:before,h2 i[class^=icon-]:before,h3 i[class*=icon-]:before,h3 i[class^=icon-]:before,h4 i[class*=icon-]:before,h4 i[class^=icon-]:before,.h1 i[class*=icon-]:before,.h1 i[class^=icon-]:before,.h2 i[class*=icon-]:before,.h2 i[class^=icon-]:before,.h3 i[class*=icon-]:before,.h3 i[class^=icon-]:before,.h4 i[class*=icon-]:before,.h4 i[class^=icon-]:before,p i[class*=icon-]:before,p i[class^=icon-]:before{vertical-align:baseline }
.icon-add:before{content:"\EA01"}
.icon-address-book:before{content:"\EA02"}
.icon-admin:before{content:"\EA03"}
.icon-alerts:before{content:"\EA04"}
.icon-analytics:before{content:"\EA05"}
.icon-android:before{content:"\EA06"}
.icon-annotate:before{content:"\EA07"}
.icon-announcement:before{content:"\EA08"}
.icon-apple:before{content:"\EA09"}
.icon-arrow-down:before{content:"\EA0A"}
.icon-arrow-left:before{content:"\EA0B"}
.icon-arrow-open-down:before{content:"\EA0C"}
.icon-arrow-open-left:before{content:"\EA0D"}
.icon-arrow-open-right:before{content:"\EA0E"}
.icon-arrow-open-up:before{content:"\EA0F"}
.icon-arrow-right:before{content:"\EA10"}
.icon-arrow-up:before{content:"\EA11"}
.icon-assignment:before{content:"\EA12"}
.icon-audio:before{content:"\EA13"}
.icon-bank:before{content:"\EA14"}
.icon-blueprint-lock:before{content:"\EA15"}
.icon-blueprint:before{content:"\EA16"}
.icon-bold:before{content:"\EA17"}
.icon-bookmark:before{content:"\EA18"}
.icon-box:before{content:"\EA19"}
.icon-bullet-list:before{content:"\EA1A"}
.icon-calendar-add:before{content:"\EA1B"}
.icon-calendar-clock:before{content:"\EA1C"}
.icon-calendar-day:before{content:"\EA1D"}
.icon-calendar-days:before{content:"\EA1E"}
.icon-calendar-month:before{content:"\EA1F"}
.icon-calendar-reserved:before{content:"\EA20"}
.icon-chat:before{content:"\EA21"}
.icon-check-dark:before{content:"\EA22"}
.icon-check-mark:before{content:"\EA23"}
.icon-check-plus:before{content:"\EA24"}
.icon-check:before{content:"\EA25"}
.icon-clear-text-formatting:before{content:"\EA26"}
.icon-clock:before{content:"\EA27"}
.icon-cloud-download:before{content:"\EA28"}
.icon-cloud-lock:before{content:"\EA29"}
.icon-collapse:before{content:"\EA2A"}
.icon-collection-save:before{content:"\EA2B"}
.icon-collection:before{content:"\EA2C"}
.icon-commons:before{content:"\EA2D"}
.icon-complete:before{content:"\EA2E"}
.icon-compose:before{content:"\EA2F"}
.icon-copy-course:before{content:"\EA30"}
.icon-copy:before{content:"\EA31"}
.icon-courses:before{content:"\EA32"}
.icon-dashboard:before{content:"\EA33"}
.icon-deactivate-user:before{content:"\EA34"}
.icon-discussion-check:before{content:"\EA35"}
.icon-discussion-new:before{content:"\EA36"}
.icon-discussion-reply-2:before{content:"\EA37"}
.icon-discussion-reply-dark:before{content:"\EA38"}
.icon-discussion-reply:before{content:"\EA39"}
.icon-discussion-search:before{content:"\EA3A"}
.icon-discussion-x:before{content:"\EA3B"}
.icon-discussion:before{content:"\EA3C"}
.icon-document:before{content:"\EA3D"}
.icon-download:before{content:"\EA3E"}
.icon-drag-handle:before{content:"\EA3F"}
.icon-drop-down:before{content:"\EA40"}
.icon-edit:before{content:"\EA41"}
.icon-educators:before{content:"\EA42"}
.icon-email:before{content:"\EA43"}
.icon-empty:before{content:"\EA44"}
.icon-end:before{content:"\EA45"}
.icon-equation:before{content:"\EA46"}
.icon-equella:before{content:"\EA47"}
.icon-essay:before{content:"\EA48"}
.icon-expand-items:before{content:"\EA49"}
.icon-expand-left:before{content:"\EA4A"}
.icon-expand:before{content:"\EA4B"}
.icon-export-content:before{content:"\EA4C"}
.icon-export:before{content:"\EA4D"}
.icon-external-link:before{content:"\EA4E"}
.icon-eye:before{content:"\EA4F"}
.icon-facebook-boxed:before{content:"\EA50"}
.icon-facebook:before{content:"\EA51"}
.icon-fast-forward:before{content:"\EA52"}
.icon-feedback:before{content:"\EA53"}
.icon-file-locked:before{content:"\EA54"}
.icon-files-copyright:before{content:"\EA55"}
.icon-files-creative-commons:before{content:"\EA56"}
.icon-files-fair-use:before{content:"\EA57"}
.icon-files-obtained-permission:before{content:"\EA58"}
.icon-files-public-domain:before{content:"\EA59"}
.icon-filmstrip:before{content:"\EA5A"}
.icon-flag:before{content:"\EA5B"}
.icon-folder-locked:before{content:"\EA5C"}
.icon-folder:before{content:"\EA5D"}
.icon-forward:before{content:"\EA5E"}
.icon-github:before{content:"\EA5F"}
.icon-gradebook-export:before{content:"\EA60"}
.icon-gradebook-import:before{content:"\EA61"}
.icon-gradebook:before{content:"\EA62"}
.icon-group-dark-new:before{content:"\EA63"}
.icon-group-new:before{content:"\EA64"}
.icon-group:before{content:"\EA65"}
.icon-hamburger:before{content:"\EA66"}
.icon-heart:before{content:"\EA67"}
.icon-highlighter:before{content:"\EA68"}
.icon-home:before{content:"\EA69"}
.icon-hour-glass:before{content:"\EA6A"}
.icon-image:before{content:"\EA6B"}
.icon-import-content:before{content:"\EA6C"}
.icon-import:before{content:"\EA6D"}
.icon-inbox:before{content:"\EA6E"}
.icon-indent-2:before{content:"\EA6F"}
.icon-indent:before{content:"\EA70"}
.icon-info:before{content:"\EA71"}
.icon-instructure:before{content:"\EA72"}
.icon-integrations:before{content:"\EA73"}
.icon-invitation:before{content:"\EA74"}
.icon-italic:before{content:"\EA75"}
.icon-keyboard-shortcuts:before{content:"\EA76"}
.icon-launch:before{content:"\EA77"}
.icon-life-preserver:before{content:"\EA78"}
.icon-like:before{content:"\EA79"}
.icon-link:before{content:"\EA7A"}
.icon-linkedin:before{content:"\EA7B"}
.icon-lock:before{content:"\EA7C"}
.icon-lti:before{content:"\EA7D"}
.icon-mark-as-read:before{content:"\EA7E"}
.icon-marker:before{content:"\EA7F"}
.icon-masquerade:before{content:"\EA80"}
.icon-mastery-paths:before{content:"\EA81"}
.icon-materials-required-light:before{content:"\EA82"}
.icon-materials-required:before{content:"\EA83"}
.icon-mature-light:before{content:"\EA84"}
.icon-mature:before{content:"\EA85"}
.icon-media:before{content:"\EA86"}
.icon-message:before{content:"\EA87"}
.icon-mini-arrow-down:before{content:"\EA88"}
.icon-mini-arrow-left:before{content:"\EA89"}
.icon-mini-arrow-right:before{content:"\EA8A"}
.icon-mini-arrow-up:before{content:"\EA8B"}
.icon-minimize:before{content:"\EA8C"}
.icon-module:before{content:"\EA8D"}
.icon-more:before{content:"\EA8E"}
.icon-move-down-bottom:before{content:"\EA8F"}
.icon-move-down:before{content:"\EA90"}
.icon-move-left:before{content:"\EA91"}
.icon-move-right:before{content:"\EA92"}
.icon-move-up-top:before{content:"\EA93"}
.icon-move-up:before{content:"\EA94"}
.icon-ms-excel:before{content:"\EA95"}
.icon-ms-ppt:before{content:"\EA96"}
.icon-ms-word:before{content:"\EA97"}
.icon-muted:before{content:"\EA98"}
.icon-next-unread:before{content:"\EA99"}
.icon-not-graded:before{content:"\EA9A"}
.icon-note-dark:before{content:"\EA9B"}
.icon-note-light:before{content:"\EA9C"}
.icon-note:before{content:"\EA9D"}
.icon-numbered-list:before{content:"\EA9E"}
.icon-off:before{content:"\EA9F"}
.icon-open-folder:before{content:"\EAA0"}
.icon-outcomes:before{content:"\EAA1"}
.icon-outdent:before{content:"\EAA2"}
.icon-outdent2:before{content:"\EAA3"}
.icon-page-down:before{content:"\EAA4"}
.icon-page-up:before{content:"\EAA5"}
.icon-paint:before{content:"\EAA6"}
.icon-paperclip:before{content:"\EAA7"}
.icon-partial:before{content:"\EAA8"}
.icon-pause:before{content:"\EAA9"}
.icon-pdf:before{content:"\EAAA"}
.icon-peer-graded:before{content:"\EAAB"}
.icon-peer-review:before{content:"\EAAC"}
.icon-pin:before{content:"\EAAD"}
.icon-pinterest:before{content:"\EAAE"}
.icon-play:before{content:"\EAAF"}
.icon-plus:before{content:"\EAB0"}
.icon-post-to-sis:before{content:"\EAB1"}
.icon-prerequisite:before{content:"\EAB2"}
.icon-printer:before{content:"\EAB3"}
.icon-publish:before{content:"\EAB4"}
.icon-question:before{content:"\EAB5"}
.icon-quiz-stats-avg:before{content:"\EAB6"}
.icon-quiz-stats-cronbachs-alpha:before{content:"\EAB7"}
.icon-quiz-stats-deviation:before{content:"\EAB8"}
.icon-quiz-stats-high:before{content:"\EAB9"}
.icon-quiz-stats-low:before{content:"\EABA"}
.icon-quiz-stats-time:before{content:"\EABB"}
.icon-quiz:before{content:"\EABC"}
.icon-refresh:before{content:"\EABD"}
.icon-remove-bookmark:before{content:"\EABE"}
.icon-remove-from-collection:before{content:"\EABF"}
.icon-remove-link:before{content:"\EAC0"}
.icon-replied:before{content:"\EAC1"}
.icon-reply-2:before{content:"\EAC2"}
.icon-reply-all-2:before{content:"\EAC3"}
.icon-reply:before{content:"\EAC4"}
.icon-reset:before{content:"\EAC5"}
.icon-rewind:before{content:"\EAC6"}
.icon-rss-add:before{content:"\EAC7"}
.icon-rss:before{content:"\EAC8"}
.icon-rubric-dark:before{content:"\EAC9"}
.icon-rubric:before{content:"\EACA"}
.icon-save:before{content:"\EACB"}
.icon-search-address-book:before{content:"\EACC"}
.icon-search:before{content:"\EACD"}
.icon-settings-2:before{content:"\EACE"}
.icon-settings:before{content:"\EACF"}
.icon-shape-oval:before{content:"\EAD0"}
.icon-shape-polygon:before{content:"\EAD1"}
.icon-shape-rectangle:before{content:"\EAD2"}
.icon-sis-imported:before{content:"\EAD3"}
.icon-sis-not-synced:before{content:"\EAD4"}
.icon-sis-synced:before{content:"\EAD5"}
.icon-skype:before{content:"\EAD6"}
.icon-speed-grader:before{content:"\EAD7"}
.icon-standards:before{content:"\EAD8"}
.icon-star-light:before{content:"\EAD9"}
.icon-star:before{content:"\EADA"}
.icon-stats:before{content:"\EADB"}
.icon-stop:before{content:"\EADC"}
.icon-strikethrough:before{content:"\EADD"}
.icon-student-view:before{content:"\EADE"}
.icon-syllabus:before{content:"\EADF"}
.icon-table:before{content:"\EAE0"}
.icon-tag:before{content:"\EAE1"}
.icon-target:before{content:"\EAE2"}
.icon-text-background-color:before{content:"\EAE3"}
.icon-text-centered:before{content:"\EAE4"}
.icon-text-color:before{content:"\EAE5"}
.icon-text-left:before{content:"\EAE6"}
.icon-text-right:before{content:"\EAE7"}
.icon-text-subscript:before{content:"\EAE8"}
.icon-text-superscript:before{content:"\EAE9"}
.icon-text:before{content:"\EAEA"}
.icon-textarea:before{content:"\EAEB"}
.icon-timer:before{content:"\EAEC"}
.icon-toggle-left:before{content:"\EAED"}
.icon-toggle-right:before{content:"\EAEE"}
.icon-trash:before{content:"\EAEF"}
.icon-trouble:before{content:"\EAF0"}
.icon-twitter-boxed:before{content:"\EAF1"}
.icon-twitter:before{content:"\EAF2"}
.icon-underline:before{content:"\EAF3"}
.icon-unlock:before{content:"\EAF4"}
.icon-unmuted:before{content:"\EAF5"}
.icon-unpublish:before{content:"\EAF6"}
.icon-unpublished:before{content:"\EAF7"}
.icon-updown:before{content:"\EAF8"}
.icon-upload:before{content:"\EAF9"}
.icon-user-add:before{content:"\EAFA"}
.icon-user:before{content:"\EAFB"}
.icon-video:before{content:"\EAFC"}
.icon-warning:before{content:"\EAFD"}
.icon-windows:before{content:"\EAFE"}
.icon-wordpress:before{content:"\EAFF"}
.icon-x:before{content:"\EB00"}
.icon-zipped:before{content:"\EB01"}
.icon-zoom-in:before{content:"\EB02"}
.icon-zoom-out:before{content:"\EB03"}

.icon-Solid.icon-add:before{content:"\EA01"}
.icon-Solid.icon-address-book:before{content:"\EA02"}
.icon-Solid.icon-admin:before{content:"\EA03"}
.icon-Solid.icon-alerts:before{content:"\EA04"}
.icon-Solid.icon-analytics:before{content:"\EA05"}
.icon-Solid.icon-android:before{content:"\EA06"}
.icon-Solid.icon-annotate:before{content:"\EA07"}
.icon-Solid.icon-announcement:before{content:"\EA08"}
.icon-Solid.icon-apple:before{content:"\EA09"}
.icon-Solid.icon-arrow-down:before{content:"\EA0A"}
.icon-Solid.icon-arrow-left:before{content:"\EA0B"}
.icon-Solid.icon-arrow-open-down:before{content:"\EA0C"}
.icon-Solid.icon-arrow-open-left:before{content:"\EA0D"}
.icon-Solid.icon-arrow-open-right:before{content:"\EA0E"}
.icon-Solid.icon-arrow-open-up:before{content:"\EA0F"}
.icon-Solid.icon-arrow-right:before{content:"\EA10"}
.icon-Solid.icon-arrow-up:before{content:"\EA11"}
.icon-Solid.icon-assignment:before{content:"\EA12"}
.icon-Solid.icon-audio:before{content:"\EA13"}
.icon-Solid.icon-bank:before{content:"\EA14"}
.icon-Solid.icon-blueprint-lock:before{content:"\EA15"}
.icon-Solid.icon-blueprint:before{content:"\EA16"}
.icon-Solid.icon-bold:before{content:"\EA17"}
.icon-Solid.icon-bookmark:before{content:"\EA18"}
.icon-Solid.icon-box:before{content:"\EA19"}
.icon-Solid.icon-bullet-list:before{content:"\EA1A"}
.icon-Solid.icon-calendar-add:before{content:"\EA1B"}
.icon-Solid.icon-calendar-clock:before{content:"\EA1C"}
.icon-Solid.icon-calendar-day:before{content:"\EA1D"}
.icon-Solid.icon-calendar-days:before{content:"\EA1E"}
.icon-Solid.icon-calendar-month:before{content:"\EA1F"}
.icon-Solid.icon-calendar-reserved:before{content:"\EA20"}
.icon-Solid.icon-chat:before{content:"\EA21"}
.icon-Solid.icon-check-dark:before{content:"\EA22"}
.icon-Solid.icon-check-mark:before{content:"\EA23"}
.icon-Solid.icon-check-plus:before{content:"\EA24"}
.icon-Solid.icon-check:before{content:"\EA25"}
.icon-Solid.icon-clear-text-formatting:before{content:"\EA26"}
.icon-Solid.icon-clock:before{content:"\EA27"}
.icon-Solid.icon-cloud-download:before{content:"\EA28"}
.icon-Solid.icon-cloud-lock:before{content:"\EA29"}
.icon-Solid.icon-collapse:before{content:"\EA2A"}
.icon-Solid.icon-collection-save:before{content:"\EA2B"}
.icon-Solid.icon-collection:before{content:"\EA2C"}
.icon-Solid.icon-commons:before{content:"\EA2D"}
.icon-Solid.icon-complete:before{content:"\EA2E"}
.icon-Solid.icon-compose:before{content:"\EA2F"}
.icon-Solid.icon-copy-course:before{content:"\EA30"}
.icon-Solid.icon-copy:before{content:"\EA31"}
.icon-Solid.icon-courses:before{content:"\EA32"}
.icon-Solid.icon-dashboard:before{content:"\EA33"}
.icon-Solid.icon-deactivate-user:before{content:"\EA34"}
.icon-Solid.icon-discussion-check:before{content:"\EA35"}
.icon-Solid.icon-discussion-new:before{content:"\EA36"}
.icon-Solid.icon-discussion-reply-2:before{content:"\EA37"}
.icon-Solid.icon-discussion-reply-dark:before{content:"\EA38"}
.icon-Solid.icon-discussion-reply:before{content:"\EA39"}
.icon-Solid.icon-discussion-search:before{content:"\EA3A"}
.icon-Solid.icon-discussion-x:before{content:"\EA3B"}
.icon-Solid.icon-discussion:before{content:"\EA3C"}
.icon-Solid.icon-document:before{content:"\EA3D"}
.icon-Solid.icon-download:before{content:"\EA3E"}
.icon-Solid.icon-drag-handle:before{content:"\EA3F"}
.icon-Solid.icon-drop-down:before{content:"\EA40"}
.icon-Solid.icon-edit:before{content:"\EA41"}
.icon-Solid.icon-educators:before{content:"\EA42"}
.icon-Solid.icon-email:before{content:"\EA43"}
.icon-Solid.icon-empty:before{content:"\EA44"}
.icon-Solid.icon-end:before{content:"\EA45"}
.icon-Solid.icon-equation:before{content:"\EA46"}
.icon-Solid.icon-equella:before{content:"\EA47"}
.icon-Solid.icon-essay:before{content:"\EA48"}
.icon-Solid.icon-expand-items:before{content:"\EA49"}
.icon-Solid.icon-expand-left:before{content:"\EA4A"}
.icon-Solid.icon-expand:before{content:"\EA4B"}
.icon-Solid.icon-export-content:before{content:"\EA4C"}
.icon-Solid.icon-export:before{content:"\EA4D"}
.icon-Solid.icon-external-link:before{content:"\EA4E"}
.icon-Solid.icon-eye:before{content:"\EA4F"}
.icon-Solid.icon-facebook-boxed:before{content:"\EA50"}
.icon-Solid.icon-facebook:before{content:"\EA51"}
.icon-Solid.icon-fast-forward:before{content:"\EA52"}
.icon-Solid.icon-feedback:before{content:"\EA53"}
.icon-Solid.icon-file-locked:before{content:"\EA54"}
.icon-Solid.icon-files-copyright:before{content:"\EA55"}
.icon-Solid.icon-files-creative-commons:before{content:"\EA56"}
.icon-Solid.icon-files-fair-use:before{content:"\EA57"}
.icon-Solid.icon-files-obtained-permission:before{content:"\EA58"}
.icon-Solid.icon-files-public-domain:before{content:"\EA59"}
.icon-Solid.icon-filmstrip:before{content:"\EA5A"}
.icon-Solid.icon-flag:before{content:"\EA5B"}
.icon-Solid.icon-folder-locked:before{content:"\EA5C"}
.icon-Solid.icon-folder:before{content:"\EA5D"}
.icon-Solid.icon-forward:before{content:"\EA5E"}
.icon-Solid.icon-github:before{content:"\EA5F"}
.icon-Solid.icon-gradebook-export:before{content:"\EA60"}
.icon-Solid.icon-gradebook-import:before{content:"\EA61"}
.icon-Solid.icon-gradebook:before{content:"\EA62"}
.icon-Solid.icon-group-dark-new:before{content:"\EA63"}
.icon-Solid.icon-group-new:before{content:"\EA64"}
.icon-Solid.icon-group:before{content:"\EA65"}
.icon-Solid.icon-hamburger:before{content:"\EA66"}
.icon-Solid.icon-heart:before{content:"\EA67"}
.icon-Solid.icon-highlighter:before{content:"\EA68"}
.icon-Solid.icon-home:before{content:"\EA69"}
.icon-Solid.icon-hour-glass:before{content:"\EA6A"}
.icon-Solid.icon-image:before{content:"\EA6B"}
.icon-Solid.icon-import-content:before{content:"\EA6C"}
.icon-Solid.icon-import:before{content:"\EA6D"}
.icon-Solid.icon-inbox:before{content:"\EA6E"}
.icon-Solid.icon-indent-2:before{content:"\EA6F"}
.icon-Solid.icon-indent:before{content:"\EA70"}
.icon-Solid.icon-info:before{content:"\EA71"}
.icon-Solid.icon-instructure:before{content:"\EA72"}
.icon-Solid.icon-integrations:before{content:"\EA73"}
.icon-Solid.icon-invitation:before{content:"\EA74"}
.icon-Solid.icon-italic:before{content:"\EA75"}
.icon-Solid.icon-keyboard-shortcuts:before{content:"\EA76"}
.icon-Solid.icon-launch:before{content:"\EA77"}
.icon-Solid.icon-life-preserver:before{content:"\EA78"}
.icon-Solid.icon-like:before{content:"\EA79"}
.icon-Solid.icon-link:before{content:"\EA7A"}
.icon-Solid.icon-linkedin:before{content:"\EA7B"}
.icon-Solid.icon-lock:before{content:"\EA7C"}
.icon-Solid.icon-lti:before{content:"\EA7D"}
.icon-Solid.icon-mark-as-read:before{content:"\EA7E"}
.icon-Solid.icon-marker:before{content:"\EA7F"}
.icon-Solid.icon-masquerade:before{content:"\EA80"}
.icon-Solid.icon-mastery-paths:before{content:"\EA81"}
.icon-Solid.icon-materials-required-light:before{content:"\EA82"}
.icon-Solid.icon-materials-required:before{content:"\EA83"}
.icon-Solid.icon-mature-light:before{content:"\EA84"}
.icon-Solid.icon-mature:before{content:"\EA85"}
.icon-Solid.icon-media:before{content:"\EA86"}
.icon-Solid.icon-message:before{content:"\EA87"}
.icon-Solid.icon-mini-arrow-down:before{content:"\EA88"}
.icon-Solid.icon-mini-arrow-left:before{content:"\EA89"}
.icon-Solid.icon-mini-arrow-right:before{content:"\EA8A"}
.icon-Solid.icon-mini-arrow-up:before{content:"\EA8B"}
.icon-Solid.icon-minimize:before{content:"\EA8C"}
.icon-Solid.icon-module:before{content:"\EA8D"}
.icon-Solid.icon-more:before{content:"\EA8E"}
.icon-Solid.icon-move-down-bottom:before{content:"\EA8F"}
.icon-Solid.icon-move-down:before{content:"\EA90"}
.icon-Solid.icon-move-left:before{content:"\EA91"}
.icon-Solid.icon-move-right:before{content:"\EA92"}
.icon-Solid.icon-move-up-top:before{content:"\EA93"}
.icon-Solid.icon-move-up:before{content:"\EA94"}
.icon-Solid.icon-ms-excel:before{content:"\EA95"}
.icon-Solid.icon-ms-ppt:before{content:"\EA96"}
.icon-Solid.icon-ms-word:before{content:"\EA97"}
.icon-Solid.icon-muted:before{content:"\EA98"}
.icon-Solid.icon-next-unread:before{content:"\EA99"}
.icon-Solid.icon-not-graded:before{content:"\EA9A"}
.icon-Solid.icon-note-dark:before{content:"\EA9B"}
.icon-Solid.icon-note-light:before{content:"\EA9C"}
.icon-Solid.icon-note:before{content:"\EA9D"}
.icon-Solid.icon-numbered-list:before{content:"\EA9E"}
.icon-Solid.icon-off:before{content:"\EA9F"}
.icon-Solid.icon-open-folder:before{content:"\EAA0"}
.icon-Solid.icon-outcomes:before{content:"\EAA1"}
.icon-Solid.icon-outdent:before{content:"\EAA2"}
.icon-Solid.icon-outdent2:before{content:"\EAA3"}
.icon-Solid.icon-page-down:before{content:"\EAA4"}
.icon-Solid.icon-page-up:before{content:"\EAA5"}
.icon-Solid.icon-paint:before{content:"\EAA6"}
.icon-Solid.icon-paperclip:before{content:"\EAA7"}
.icon-Solid.icon-partial:before{content:"\EAA8"}
.icon-Solid.icon-pause:before{content:"\EAA9"}
.icon-Solid.icon-pdf:before{content:"\EAAA"}
.icon-Solid.icon-peer-graded:before{content:"\EAAB"}
.icon-Solid.icon-peer-review:before{content:"\EAAC"}
.icon-Solid.icon-pin:before{content:"\EAAD"}
.icon-Solid.icon-pinterest:before{content:"\EAAE"}
.icon-Solid.icon-play:before{content:"\EAAF"}
.icon-Solid.icon-plus:before{content:"\EAB0"}
.icon-Solid.icon-post-to-sis:before{content:"\EAB1"}
.icon-Solid.icon-prerequisite:before{content:"\EAB2"}
.icon-Solid.icon-printer:before{content:"\EAB3"}
.icon-Solid.icon-publish:before{content:"\EAB4"}
.icon-Solid.icon-question:before{content:"\EAB5"}
.icon-Solid.icon-quiz-stats-avg:before{content:"\EAB6"}
.icon-Solid.icon-quiz-stats-cronbachs-alpha:before{content:"\EAB7"}
.icon-Solid.icon-quiz-stats-deviation:before{content:"\EAB8"}
.icon-Solid.icon-quiz-stats-high:before{content:"\EAB9"}
.icon-Solid.icon-quiz-stats-low:before{content:"\EABA"}
.icon-Solid.icon-quiz-stats-time:before{content:"\EABB"}
.icon-Solid.icon-quiz:before{content:"\EABC"}
.icon-Solid.icon-refresh:before{content:"\EABD"}
.icon-Solid.icon-remove-bookmark:before{content:"\EABE"}
.icon-Solid.icon-remove-from-collection:before{content:"\EABF"}
.icon-Solid.icon-remove-link:before{content:"\EAC0"}
.icon-Solid.icon-replied:before{content:"\EAC1"}
.icon-Solid.icon-reply-2:before{content:"\EAC2"}
.icon-Solid.icon-reply-all-2:before{content:"\EAC3"}
.icon-Solid.icon-reply:before{content:"\EAC4"}
.icon-Solid.icon-reset:before{content:"\EAC5"}
.icon-Solid.icon-rewind:before{content:"\EAC6"}
.icon-Solid.icon-rss-add:before{content:"\EAC7"}
.icon-Solid.icon-rss:before{content:"\EAC8"}
.icon-Solid.icon-rubric-dark:before{content:"\EAC9"}
.icon-Solid.icon-rubric:before{content:"\EACA"}
.icon-Solid.icon-save:before{content:"\EACB"}
.icon-Solid.icon-search-address-book:before{content:"\EACC"}
.icon-Solid.icon-search:before{content:"\EACD"}
.icon-Solid.icon-settings-2:before{content:"\EACE"}
.icon-Solid.icon-settings:before{content:"\EACF"}
.icon-Solid.icon-shape-oval:before{content:"\EAD0"}
.icon-Solid.icon-shape-polygon:before{content:"\EAD1"}
.icon-Solid.icon-shape-rectangle:before{content:"\EAD2"}
.icon-Solid.icon-sis-imported:before{content:"\EAD3"}
.icon-Solid.icon-sis-not-synced:before{content:"\EAD4"}
.icon-Solid.icon-sis-synced:before{content:"\EAD5"}
.icon-Solid.icon-skype:before{content:"\EAD6"}
.icon-Solid.icon-speed-grader:before{content:"\EAD7"}
.icon-Solid.icon-standards:before{content:"\EAD8"}
.icon-Solid.icon-star-light:before{content:"\EAD9"}
.icon-Solid.icon-star:before{content:"\EADA"}
.icon-Solid.icon-stats:before{content:"\EADB"}
.icon-Solid.icon-stop:before{content:"\EADC"}
.icon-Solid.icon-strikethrough:before{content:"\EADD"}
.icon-Solid.icon-student-view:before{content:"\EADE"}
.icon-Solid.icon-syllabus:before{content:"\EADF"}
.icon-Solid.icon-table:before{content:"\EAE0"}
.icon-Solid.icon-tag:before{content:"\EAE1"}
.icon-Solid.icon-target:before{content:"\EAE2"}
.icon-Solid.icon-text-background-color:before{content:"\EAE3"}
.icon-Solid.icon-text-centered:before{content:"\EAE4"}
.icon-Solid.icon-text-color:before{content:"\EAE5"}
.icon-Solid.icon-text-left:before{content:"\EAE6"}
.icon-Solid.icon-text-right:before{content:"\EAE7"}
.icon-Solid.icon-text-subscript:before{content:"\EAE8"}
.icon-Solid.icon-text-superscript:before{content:"\EAE9"}
.icon-Solid.icon-text:before{content:"\EAEA"}
.icon-Solid.icon-textareabefore{content:"\EAEB"}
.icon-Solid.icon-timer:before{content:"\EAEC"}
.icon-Solid.icon-toggle-left:before{content:"\EAED"}
.icon-Solid.icon-toggle-right:before{content:"\EAEE"}
.icon-Solid.icon-trash:before{content:"\EAEF"}
.icon-Solid.icon-trouble:before{content:"\EAF0"}
.icon-Solid.icon-twitter-boxed:before{content:"\EAF1"}
.icon-Solid.icon-twitter:before{content:"\EAF2"}
.icon-Solid.icon-underline:before{content:"\EAF3"}
.icon-Solid.icon-unlock:before{content:"\EAF4"}
.icon-Solid.icon-unmuted:before{content:"\EAF5"}
.icon-Solid.icon-unpublish:before{content:"\EAF6"}
.icon-Solid.icon-unpublished:before{content:"\EAF7"}
.icon-Solid.icon-updown:before{content:"\EAF8"}
.icon-Solid.icon-upload:before{content:"\EAF9"}
.icon-Solid.icon-user-add:before{content:"\EAFA"}
.icon-Solid.icon-user:before{content:"\EAFB"}
.icon-Solid.icon-video:before{content:"\EAFC"}
.icon-Solid.icon-warning:before{content:"\EAFD"}
.icon-Solid.icon-windows:before{content:"\EAFE"}
.icon-Solid.icon-wordpress:before{content:"\EAFF"}
.icon-Solid.icon-x:before{content:"\EB00"}
.icon-Solid.icon-zipped:before{content:"\EB01"}
.icon-Solid.icon-zoom-in:before{content:"\EB02"}
.icon-Solid.icon-zoom-out:before{content:"\EB03"}
